html(lang="en")
    head
        title Admin room booking
    body  
        
        include ./header
        
        style.
            table {
                border-collapse: collapse;
                width: 75%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

        form(action="/admin/room" method="post") 

            h1 Room Booking

                    |
                    table
                        thead 
                            tr
                                th Room Num
                                th Time Slot
                                th Event
                                
                        tbody
                            if room && room.length > 0
                                each r in room
                                    tr 
                                        //td #{r}
