html(lang="en")
    head
        title Edit profile
    body  
        
        include ./header
        
        h1 Edit #{session.user.fname}'s Profile

        form(action="/member/editProfile" method="post") 

            h3 Update Personal Information 

            p First name:
                input#firstName(type="textbox" name="fname")
            p Last name:
                input#lastName(type="textbox" name="lname")
            p Email:
                input#email(type="textbox" name="email")
            p Phone number:
                input#phoneNumber(type="textbox" name="phone")
            p Gender: 
                select#gender(type="select" name="gender")
                    option(value='empty' checked)
                    option(value='other') Other
                    option(value='male') Male
                    option(value='female') Female
            
            h3 Update Fitness Goals 

            p Goal weight:
                input#goalWeight(type="textbox" name="goalWeight")
            p Goal calories consummed:
                input#goalCalories(type="textbox" name="goalCalories")
            p Goal hours slept :
                input#goalSleep(type="textbox" name="goalSleep")
            
            h3 Update Health Metrics

            p Hours slept:
                input#sleep(type="textbox" name="sleep")
            p Current weight:
                input#currentWeight(type="textbox" name="currentWeight")
            p Height:
                input#height(type="textbox" name="height")
            p Calories consumed:
                input#calories(type="textbox" name="calories")

            button(type="submit") Update