div#header
if session && session.loggedin
        if session.admin == "member"
            a(href="/home") Home  
            |
            |
            a(href="/profile") Profile  
            |
            |
            a(href="/dashboard") Dashboard  
            |
            |
            a(href="/schedule") Schedule  

        if session.admin == "trainer"
            |
            |
            
            |
            |
            
        
        if session.admin == "admin"
            |
            |
           
            |
            |
else 

    a(href="/") Home