div#header
if session && session.loggedin
        if session.type == "member"
            a(href="/member") Member Profile
            |
            |
            a(href="/member/editProfile") Edit Profile
            |
            |
            a(href="/member/dashboard") Dashboard
            |
            |
            a(href="/member/schedule") Schedule
            |
            |
            a(href="/member/billing") Billing

        if session.type == "trainer"
            a(href="/trainer") Trainer Home
            |
            |
            a(href="/trainerAvailability") Availability
            
        
        if session.type == "admin"
            a(href="/admin") Admin Home
            |
            |
            a(href="/allAvailabilities") Trainer Availabilities
            |
            |
            a(href="/scheduleManagement") Schedule
            |
            |
            a(href="/admin/maintenance") Equpiment Maintenance
            |
            |
            a(href="/billing/0") Billing Management
else 

    a(href="/") Home