div#header
if session && session.loggedin
        if session.type == "member"
            a(href="/member") Home  
            |
            |
            a(href="/member/profile") Profile  
            |
            |
            a(href="/dashboard") Dashboard  
            |
            |
            a(href="/schedule") Schedule  

        if session.type == "trainer"
            a(href="/trainer") Home 
            |
            |
            a(href="/trainerSchedule") Schedule
            |
            |
            
        
        if session.type == "admin"
            |
            |
           
            |
            |
else 

    a(href="/") Home