html(lang="en")
    head
        title Home page
    body  
        
        h1 Welcome to the Health and Fitness Club!

        form(action="/home" method="post")                
            p Welcome Back!
            button(type="button" id="loginButton") Login
            br
            p First time here? No worries! New members sign up here :)
            button(type="button" id="signUpButton") Sign Up
            br

            script(src="/js/loginOrSignUp.js")