html(lang="en")
    head
        title Edit Member Schedule 
    body  
        
        include ./header

        style.
            table {
                border-collapse: collapse;
                width: 90%;
            }
            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }#discard {
                margin-right: 10px; 
            }
   
        h2 Edit Member Schedule